// =============================================================================
// Reset Styles
// =============================================================================

* { 
    box-sizing: border-box; 
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
blockquote, 
pre, 
dl, 
dd, 
form, 
fieldset, 
legend, 
table, 
th, 
td, 
caption, 
hr {
    margin:0;
    padding:0;
}

img { 
	font-style:italic; 
	height: auto;
}

label, 
input, 
textarea, 
button, 
select, 
option { 
    cursor:pointer; 
}
    