// =============================
// Base Type Variables
// =============================

$font-family-alpha: sans-serif;

$font-size-alpha: 16px; // Required for Mixin Context Parameter

// =============================
// Base Color Variables
// =============================

$colour-font-alpha: #000;