// =============================
// Global Nav Module Styling
// =============================

/*
Navigation Module

Markup:
<ul class="{$modifiers}">
  <li>
    <a href="#">Home</a>
  </li>
  <li>
    <a href="#">About</a>
  </li>
  <li>
    <a href="#">Portfolio</a>
  </li>
  <li>
    <a href="#">Contact</a>
  </li>
</ul>

.nav - Global Module Element - Displays a list of items, each displaying inline
.nav--stacked - Navigation Module: Stacked Modifier - Displays a list of items, each displaying block

Styleguide 1.
*/

.nav {
    @extend .clearfix;
    list-style: none;
    margin-left: 0;

    > li {
        
        &,
        > a {
          display: inline-block;
        }

    }

}

// =============================
// Nav Module - Stacked Modifier Styling
// =============================

.nav--stacked{
    @extend .nav;

    > li {
        display: list-item;
        
        > a {
            display: block;
        }

    }

}

